<section id="menus" class="container"></section>
<h1>All Menus</h1>
<ul id="menu-list" class="list-group">
  {{#each menus}}
  <div class="menu">
    <li data-id="{{menu.dataValues.id}}" class="list-group-item">
      <h3>Menu Name: {{menu.dataValues.name}}</h3>
      <p>Category: {{menu.dataValues.category}}</p>
      <p>Description: {{menu.dataValues.desc}}</p>
      <a href="menu/{{menu.dataValues.id}}">{{menu.dataValues.name}}</a>
      <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
  </div>
  {{else}}
  <p>No menus available</p>
  {{/each}}
</ul>
</section>




